---
import Layout from '@/layo/Layout.astro';
import Hero from '@/sect/Hero.astro';
import AboutMe from '@/sect/AboutMe.astro';
import ProjectStructure from '@/comp/Project.astro';
import { project } from '@/lib/data';
---

<Layout title="Welcome to Astro.">
	<main class="relative overflow-hidden bg-black-400 [background-size:_60px_60px] [background-image:_linear-gradient(to_right,_#FFFFFF10_1px,_transparent_1px),linear-gradient(to_bottom,_#FFFFFF10_1px,_transparent_1px)] z-[100] border-b-[1px] border-darkgray">
		<Hero></Hero>
		<section class="flex flex-col place-items-center gap-32 pb-32 ">
			<AboutMe></AboutMe>
			{project.map((project) => <ProjectStructure project={project}/>) }
		</section>
	</main>
</Layout>