---
import TechsContainer from '@/comp/TechsContainer.astro'

const {TechData} = Astro.props;
---

<section class="mt-20 flex items-center justify-center gap-10 w-full py-14 bg-black-300 bg-opacity-10 border-y-[1px] border-darkgray backdrop-blur-[1.5px]">
    <div class="container px-4 flex flex-col xl:flex-row items-center gap-20 justify-between">
      <article class="max-w-[28rem]">
        <h3 class="font-bold text-[clamp(50px,18vw,50px)] bg-gradient-to-b from-white to-gray bg-clip-text text-transparent">ABOUT ME</h3>
        <div class="flex flex-col gap-4 max-[350px]">
          <p class="text-pretty text-gray">Franco Cunha Duarte, a 19-year-old <span class="text-white">frontend developer</span> from Mar del Plata, Argentina, with a strong focus on creating <span class="text-white">responsive and dynamic</span> web applications using HTML, CSS, JavaScript, and frameworks like Tailwind CSS.</p>
          <p class="text-pretty text-gray">Experience includes working with <span class="text-white">Git and GitHub</span> for version control and developing functionality. Knowledge in <span class="text-white">responsive design, Flexbox, Grids, and Media Queries</span> ensures optimized user experiences across devices. SQL databases are also part of the skill set, and design inspiration is often drawn from Figma.</p>
        </div>
      </article>
      <article>
          <TechsContainer/>
      </article>
    </div>
  </section>