@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "SFPro";
        font-weight: 300;
        font-style: normal;
        src: url('/src/fonts/SF-Pro-Text-Light.otf') format('opentype');
    }
    @font-face {
        font-family: "SFPro";
        font-weight: 400;
        font-style: normal;
        src: url('/src/fonts/SF-Pro-Text-Regular.otf') format('opentype');
    }
    @font-face {
        font-family: "SFPro";
        font-weight: 500;
        font-style: normal;
        src: url('/src/fonts/SF-Pro-Text-Medium.otf') format('opentype');
    }
    @font-face {
        font-family: "SFPro";
        font-weight: 700;
        font-style: normal;
        src: url('/src/fonts/SF-Pro-Text-Bold.otf') format('opentype');
    }
}

@layer components{
    .active{
        @apply translate-y-[.3rem];
    }

    .animate-pulse-custom{
        animation: pulse .8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
    @keyframes pulse {
        0%, 100% {
          opacity: 1;
        }
        50% {
          opacity: .5;
        }
      }
}