<<<<<<< HEAD
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "SFPro";
        font-weight: 500;
        font-style: medium;
        src: url('/src/fonts/SFPro-medium.OTF') format('opentype');
    }
    @font-face {
        font-family: "SFPro";
        font-weight: 400;
        font-style: normal;
        src: url('/src/fonts/SFPro-regular.OTF') format('opentype');
    }
    @font-face {
        font-family: "SFPro";
        font-weight: 700;
        font-style: bold;
        src: url('/src/fonts/SFPro-bold.OTF') format('opentype');
    }
}

=======
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "SFPro";
        font-weight: 500;
        font-style: normal;
        src: url('/src/fonts/SFPro-medium.OTF') format('opentype');
    }
    @font-face {
        font-family: "SFPro";
        font-weight: 400;
        font-style: light;
        src: url('/src/fonts/SFPro-regular.OTF') format('opentype');
    }
    @font-face {
        font-family: "SFPro";
        font-weight: 700;
        font-style: bold;
        src: url('/src/fonts/SFPro-bold.OTF') format('opentype');
    }
}

>>>>>>> 6c5b08803145bc6741dc22491b5ea9ba82e6c18c
