---
import Arrow from '@/icons/Arrow.astro';
import Copy from '@/icons/Copy.astro';
---

<footer class="sticky w-full bg-black-100 bottom-0 z-[10]">
    <div class="mx-auto flex flex-col place-items-center gap-24 pt-20 text-white">
      <div class="container max-w-[1200px]  flex flex-col items-center gap-16 xl:flex-row px-10 xl:justify-between xl:w-full">
        <div class="max-w-[30rem] flex flex-col gap-5">
          <span class="text-xl">About me</span>
          <p class="text-pretty text-gray">I’m a <span class="age">19</span>-year-old trainee frontend developer from Mar del Plata, Argentina, skilled in HTML, CSS, Tailwind, and JavaScript. My education at the National University of Central Buenos Aires Province and self-taught approach drive my continuous growth.</p>
        </div>
        <div class="flex flex-col gap-16">
          <div class="flex flex-col items-center gap-5 xl:items-start">
            <span class="text-xl">Contact</span>
            <div class="flex relative">
              <span class="px-5 py-3 border-[1px] border-[#6C6C6C] border-r-0 bg-[#2F2F2F] rounded-l-2xl text-[#E2E2E2] [box-shadow:_0px_0px_26px_-4px_rgba(0,0,0,0.2)] z-[30]"><a href="mailto:francunhaduarte@gmail.com" class="relative after:absolute after:left-0 after:bottom-0 after:w-0 after:h-[1px] after:bg-white hover:after:w-full after:transition-[width] after:duration-300">francunhaduarte@gmail.com</a></span>
              <button type="button" title="Copy" class="bg-[#212121] py-1 px-4 border-[1px] border-[#6C6C6C] rounded-r-2xl [box-shadow:_0px_0px_26px_-4px_rgba(0,0,0,0.2)]" onclick="copy()"><Copy></Copy></button>
              <div class="absolute rounded-full left-[-6px] top-[50%] translate-y-[-50%] right-full w-4 h-4 bg-white [box-shadow:_0px_0px_33px_0px_rgba(255,255,255,0.75)] z-[20] animate-pulse-custom"></div>
              <div class="copyAlert absolute right-0 bottom-[calc(100%_+_15px)] bg-black-300 px-3 py-2 rounded-2xl hidden after:absolute after:left-[50%] after:translate-x-[-50%] after:rotate-180 after:top-full after:border-l-[7px] after:border-l-[transparent] after:border-r-[7px] after:border-r-[transparent] after:border-b-[7px] after:border-b-black-300"><span class="text-xs">Copied!</span></div>
            </div>
          </div>
          <div class="flex flex-col items-center gap-2 xl:items-start">
            <span class="text-xl">Social Media</span>
            <ul class="flex gap-1 text-[#E2E2E2] flex-col text-center xl:text-left">
              <li class="relative group/link"><div class="transition-transform duration-300 xl:group-hover/link:translate-x-4"><a href=""><span class="">GitHub</span><Arrow></Arrow></a></div></li>
              <li class="relative group/link"><div class="transition-transform duration-300 xl:group-hover/link:translate-x-4"><a href=""><span class="">LinkedIn</span><Arrow></Arrow></a></div></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="w-full h-14 grid place-items-center border-t-[1px] border-t-gray">
        <span class="text-gray">Franco Cunha Duarte</span>
      </div>
    </div>
</footer>