---
import GitHub from "@/icons/GitHub.astro";
import LinkedIn from "@/icons/LinkedIn.astro";

---
<header>
    <div class="header w-screen fixed top-0 z-[200] after:opacity-0 after:transition-[opacity] after:duration-500 after:absolute after:top-0 after:left-0 after:w-screen after:h-full after:bg-black-300 after:bg-opacity-75 after:z-[-1] after:backdrop-blur-lg after:border-b-[1px] after:border-darkgray">
        <div class="container mx-auto h-16 flex items-center justify-between z-[120] px-10">
        <a href="" class="px-6 text-white font-normal text-[clamp(16px,5vw,20px)] text-nowrap">Franco Cunha Duarte</a>
        <div class="flex gap-5">
            <a href="https://github.com/FranCunhaDuarte" target="_blank"><GitHub></GitHub></a>
            <a href="https://www.linkedin.com/in/francocunhaduarte/" target="_blank"><LinkedIn></LinkedIn></a>
        </div>
        </div>
    </div>
</header>