---
import Header from '@/layo/Header.astro';
import Footer from '@/layo/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="../input.css">
	</head>
	<body>
        <Header></Header>
		<slot />
        <Footer></Footer>
	</body>

	<script>


		document.querySelectorAll('.box').forEach(box=>{
		
		    const button=box.querySelector('.button');
		    
		    button.addEventListener('mousedown',()=>{
		        button.classList.add('active');
		    })
		
		    button.addEventListener('mouseup',()=>{
		        button.classList.remove('active');
		        box.classList.toggle('xl:top-0');
		    })
		});
		
		
		const copy = () =>{
		    const copyAlert=document.querySelector('.copyAlert');
		    navigator.clipboard.writeText('francunhaduarte@gmail.com');
		    copyAlert.classList.remove('hidden');
		    setTimeout(() => {
		        copyAlert.classList.add('hidden');
		    }, 3000);    
		}
		
		window.addEventListener('scroll', function() {
		    const header = document.querySelector('.header');
		    const scrollPosition = window.scrollY;
		
		    if(scrollPosition >= 40){
		        header.classList.remove('after:opacity-0');
		    }else{
		        header.classList.add('after:opacity-0');
		    }
		
		})

	</script>
</html>
<style is:global>

    html{
        font-family: "SFPro";
    }

	@font-face {
        font-family: "SFPro";
        font-weight: 300;
        font-style: normal;
        src: url('/fonts/SF-Pro-Text-Light.otf') format('opentype');
    }
    @font-face {
        font-family: "SFPro";
        font-weight: 400;
        font-style: normal;
        src: url('/fonts/SF-Pro-Text-Regular.otf') format('opentype');
    }
    @font-face {
        font-family: "SFPro";
        font-weight: 500;
        font-style: normal;
        src: url('/fonts/SF-Pro-Text-Medium.otf') format('opentype');
    }
    @font-face {
        font-family: "SFPro";
        font-weight: 700;
        font-style: normal;
        src: url('/fonts/SF-Pro-Text-Bold.otf') format('opentype');
    }

	.active{
        @apply translate-y-[.3rem];
    }

    .animate-pulse-custom{
        animation: pulse .8s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    }
    @keyframes pulse {
        0%, 100% {
          opacity: 1;
        }
        50% {
          opacity: .5;
        }
      }
</style>
